<!-- Page Contents -->
<div>
    <!-- Main Header -->
    {{> navStudent }}
    <!-- Display Messages -->
    <div class="ui aligned basic segment" id="course_message_display">
        <div class="ui centered grid">
            <div class="twelve wide column">
                {{#if courseStatus.available}}
                <div class="ui info message">
                    <i class="close icon"></i>
                    <div><strong>You have enrolled in {{courseHeading}} course!</strong></div>
                </div>
                {{else if courseStatus.completed}}
                <div class="ui positive message">
                    <i class="close icon"></i>
                    <div><strong>You have successfully completed {{courseHeading}} course!</strong></div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div class="ui vertical padded segment">
        <div class="ui centered grid" id="user_content">
            <!-- Course Description -->
            <div class="row">
                <div class="fourteen wide column">
                    <h2 class="ui header">
                        <img class="ui medium image" src="/uploads/{{courseLogo}}">
                        <div class="content">
                            {{courseHeading}}
                        </div>
                    </h2>
                    <hr class="main_hr" />
                    <div class="ui grid">
                        <div class="row">
                            <div class="two wide column"><strong>About:</strong></div>
                            <div class="fourteen wide column">
                                <div id="course_description">{{courseDescription}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Course Content -->
            <div class="row">
                <div class="fifteen wide column">
                    <div class="ui raised segment">
                        <div id="course_content_segment">
                            <div class="ui segment course_segment sidebar" id="module_sidebar">
                                {{> modules }}
                            </div>
                            <div class="ui raised text segment pusher" id="course_content">
                                <div class="ui grid">
                                    <div class="row">
                                        <!-- Menu for Handheld Devices -->
                                        <div class="ui top attached hidden menu" id="course_module">
                                            <a class="item"><i class="sidebar large icon"></i></a>
                                        </div>

                                        <!--End of Menu for Handheld Devices -->
                                        <div class="column" id="module_column">
                                            <div class="ui segment course_segment" id="module_segment">
                                                {{> modules }}
                                            </div>
                                        </div>
                                        <!-- Topic content -->
                                        <div class="column" id="topic_column">
                                            <div class="ui segment course_segment" id="topic_content">
                                                <div class="topic_detail">
                                                    <div id="syllabus">
                                                        <h3 class="ui header">{{contentHeader}}</h3>
                                                        <hr class="main_hr" />
                                                        <div>{{{content}}}</div>
                                                    </div>
                                                    <div id="module_content">
                                                        <div class='ui active massive loader'></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feedback -->
            <div class="row" id="feedback_section">
                <div class="fourteen wide column">
                    <h2 class="ui header">
                        <div class="content">
                            Feedback
                        </div>
                    </h2>
                    <hr class="main_hr" />
                    <div class="ui grid loader_content">
                        <div class="row" id="user_feedback">
                            <div class="ui active text loader">Loading...</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of feedback -->
        </div>
    </div>
    <!-- Footer -->
    {{> footer }}
</div>
<!-- Modal -->
<div class="ui basic modal" id="completed_modal">
    <i class="close icon"></i>
    <div class="ui icon header"></div>
    <div class="content completed_content"></div>
</div>
<!-- Scripts -->
{{> scriptsCommon }} {{> scriptsUserCommon }}
<!-- Module Specific Scripts -->
<script src="/js/course_home.js"></script>
<script src="/js/course_main.js"></script>